.message-box {
  flex: 0 1 42px;
  width: 90%;
  background: #fff;
  margin:2px auto;
  /*-webkit-box-shadow: 0px 1px 1px 1px rgba(0,0,0,0.4);
  -moz-box-shadow: 0px 1px 1px 1px rgba(0,0,0,0.4);
  box-shadow: 0px 1px 1px 1px rgba(0,0,0,0.4);*/
  /*background: rgba(0, 0, 0, 0.3);
    border-top:1px solid #e3e3e3;*/
  padding: 10px;
  position: relative;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
  border:1px solid #ccc;

  & .message-input {
    background: none;
    border: none;
    outline: none!important;
    resize: none;
    /* color: rgba(255, 255, 255, .8);*/

    margin: 0;
    padding-right: 20px;
    color: #444;
  }
  input:focus:-webkit-placeholder {
    color: transparent;
  }
  & .message-submit {
    position: absolute;
    z-index: 1;
    top: 9px;
    right: 40px;
    color: #4A90E2;
    border: none;
    /* background: #c29d5f;*/
    background: #fff;
    font-size: 16px;
    text-transform: uppercase;
    line-height: 1;
    padding: 6px 10px;
    border-radius: 5px;
    outline: none!important;
    transition: background .2s ease;
    cursor:pointer;
    &:hover {
      background: #fff;
      color: #333;
    }
  }
}

