.hamburger {
  margin-top: 50px;
  margin-left: 50px;
}

.hamburger span {
  background: red;
  border-radius: 3px;
  display: block;
  margin-bottom: 3px;
  transition: 0.3s all ease;
  height: 3px;
  width: 30px;
}

.hamburger span:nth-child(1) {
  width: 25px

}

.hamburger span:nth-child(2) {
  width: 20px
}

.hamburger:hover span:nth-child(3) {
  width: 25px

}

.hamburger:hover span:nth-child(2) {
  width: 30px
}

.hamburger:hover span:nth-child(1) {
  width: 20px
}
