.highlighted {
    color: red
}

.clearfix::before {
    content: "";
    clear: both;
    display: table;
}

.card:nth-child(4n+1) {
    background-color: #4897d8;
}

.card:nth-child(4n+2) {
    background-color: #ffdb5c;
}

.card:nth-child(4n+3) {
    background-color: #fa6e59;
}

.card:nth-child(4n+4) {
    background-color: #f8a055;
}